<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Develeoper Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
    <body>
    <a href="/">Home</a>
    <h1>My Developer Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%= s.skill %>"><%= s.skill %></a>
              - 
            <%= s.done ? 'extra practice' : 'a ton of extra practice' %>
        </li>
      <% }); %>
    </ul>
    </body>
</html>