<%- include('../partials/header') %>

    <h3 id="skill-name"><%= skill.skill %></h3>
    <h3 id="practice-status">Daily practice: <%= skill.status ? 'Not Always' : 'Definitely' %></h3>
    <img src="https://media.tenor.com/qOBfeEzQHowAAAAM/peanuts-schroeder.gif">

<%- include('../partials/footer') %>